* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 32px 16px;
}

body {
  font-family: Calibri;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  max-width: 1024px;
  margin: auto;
  justify-items: center;
}

.container .note-list-container,
.container .note-detail-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container .note-detail-container {
  padding: 16px;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container .note-detail-container .note-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container .note-detail-container .note-detail img {
  margin-bottom: 8px;
}